<div class="bg-primary-50 p-[24px] rounded-lg">
  <h5 class="text-[20px]">Assigned Pages</h5>
  <p class="mt-2 text-aeblack-500">4/5 scanned</p>
  <ul class="flex flex-col gap-5">
    <li><a class="text-aeblack-950" href="">Home</a></li>
    <li><a class="text-aeblack-950" href="">Services</a></li>
    <li><a class="text-aeblack-950" href="">About</a></li>
    <li><a class="text-aeblack-950" href="">Press contact and media kit</a></li>
    <li>
      <a class="text-aeblack-950" href=""
        >Registered Medical Product Directory</a
      >
    </li>
  </ul>
  <div class="text-center">
    <button class="aegov-btn mt-[149px]" type="button">Submit Scores</button>
  </div>
</div>
